body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.navbar {
    background-color: #282828;
}

.product-details {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.product-title {
    font-size: 36px;
    font-weight: 600;
    color: #333;
}

.d-grip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.product-price {
    font-size: 27px;
    color: #ff6347;
    font-weight: bold;
    background-color: #fff3e6;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.add-to-cart-btn {
    background-color: #ff7f50;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.add-to-cart-btn:hover {
    background-color: #ff6347;
    transform: scale(1.1);
}

.product-highlights {
    margin-top: 30px;
    font-size: 16px;
    color: #333;
}

.product-highlights ul {
    list-style-type: square;
}

footer {
    background-color: #282828;
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer a {
    color: #ff7f50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}